<p id="notice"><%= notice %></p>

<h1>Audit Election (from older to newer)</h1>

    <% @elections.each do |election| %>
      <h3>Election <%= election.identification %> changed by <%= election.user.email %> at <%= election.created_at.to_s %></h3>
      <div> Name: <%= election.name %></div>
      <div> Start at: <%= election.start_at.to_s %></div>
      <div> End at: <%= election.end_at.to_s %></div>
      <div> Status: <%= election.status %></div>
      <div style="margin-left: 20px">
        <% election.questions.each do |question| %>
          <h4>-- Question <%= question.identification %> changed by <%= question.user.email %> at <%= question.created_at.to_s %></h4>
          <div> Name: <%= question.name %></div>
          <div> Status: <%= question.status %></div>
          <div style="margin-left: 20px">
          <% question.answers.each do |answer| %>
              <h5>---- Answer <%= answer.identification %> changed by <%= answer.user.email %> at <%= answer.created_at.to_s %></h5>
              <div> Name: <%= answer.name %></div>
              <div> Status: <%= answer.status %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

<br>
<%= link_to 'Back', elections_url %>
